@import url("../../styles/nord.css");

.lowerThird {
    border-style: solid;
    border-color: var(--tokyo_green);
}

.middleThird {
    border-style: solid;
    border-color: var(--tokyo_yellow);
}

.highestThird {
    border-style: solid;
    border-color: var(--tokyo_red);
}

#lowestPrice {
    font-weight: bold;
    border-style: dashed;
  }

li {
    margin: 0.3em;
}