/*Especificidad: 002*/
li a {
    background-color: #e5e9f0;
    color: #3b4252;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
}

/*Especificidad: 012*/
li a:hover {
    color: #e5e9f0;
    background-color: #434c5e;
}

li {
    padding: 2em;
}

#lowestPrice {
    background-color:#11cc33;
    color: rgb(0, 0, 0);
}