@import "colors.css";

/*Especificidad: 001*/
body {
    font-family: Helvetica, sans-serif;
    background-color: var(--tokyo_black4);
    color: var(--nord4);
  
    display:flex;
    flex-direction: column;
  
    margin-left:auto;
    margin-right: auto;
    width: 60em;
}

header {
  align-self: center;
  margin-bottom: 2em;
}
  
/*Especificidad: 001*/
h1 {
  text-align: left;
  font-size: 2.2em;
  color: var(--nord4); /*#2e3440*/
  padding-top: 1em;
}

/*Especificidad: 001*/
h2 {
  color: var(--nord5); 
}

/*Especificidad: 001*/
nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

/*Especificidad: 002*/
nav a {
  background-color: var(--tokyo_black4);
  color: var(--tokyo_black2);
  padding: 1em ;
  text-decoration: none;
  font-weight: bold;

  text-align: center;
  align-self: center;
  justify-self: center;
}

/*Especificidad: 012*/
nav a:hover {
  color: var(--tokyo_black3);
}

#homenav {
  color: var(--tokyo_orange);
}

#tasksnav {
  color: var(--nord_pink);
}

#appletsnav {
  color: var(--tokyo_blue1);
}