.flex-container-horizontal {
  display:inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4em;
}

#stocksDisplay {
  order:1;
  flex-grow: 6;
  /*background-color: cyan;*/
}

aside {
  order:2;
  flex-grow: 0;
  /*background-color: cyan;*/
}


