.icon {
    float: center;
    width: 10%;
    height: auto;
}

.divsplay {
    margin: 2em;
}

input {
    padding: 0.5em;
  }
  
  div {
    margin-top: 1.5em;
  }

  #cityField {
    width: auto;
    margin-bottom: 3em;

    border-color: #3b4252;
    border-style: solid;
    border-width: 1px;
}

#cityField:focus{
    outline: none;
}